body {
    background-color: goldenrod;
    color: black;
    font-family: Verdana, "Geneva", Tahoma,sans-serif;   
}

h1 {
    color: red;
}

#image {
    text-align: center;
}

.desc,
.ingredients,
.steps {
    background-color: white;
    padding: 10px;
    margin: 10px;
    
}